/* General styles */

:root {
    --darkblue: hsl(233, 26%, 24%);
    --limegreen: hsl(136, 65%, 51%);
    --brightcyan: hsl(192, 70%, 51%);
    --grayishblue: hsl(233, 8%, 62%);
    --lgblue: hsl(220, 16%, 96%);
    --vlgray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.125rem;
    font-family: "Public Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}




span {
    color: var(--grayishblue);
    font-size: .7rem;
}

p {
    color: var(--grayishblue);
    font-size: .8rem;
    line-height: 1.5;
    text-align: justify;
}

h3 {
    color: var(--darkblue);
    font-weight: 400;
    font-size: 1.2rem;

}


/* content styles */

/* section one */

header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background-color: #FFF;
    position: relative;
    z-index: 99;

}




.header img {
    cursor: pointer;
}

section.s1 {
    padding-bottom: 4rem;
    background-color: var(--vlgray);
}

div.hero {
    background-image: url('../assets/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: -140px;
    z-index: 1;
    max-width: 100%;
    
}
/* Div for javascript */
div.nav-div {
    padding: 1rem;
    position: absolute;
    top: 140px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
}
nav.nav-items {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 2rem;
    color: var(--darkblue);
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

/* nav a:hover, nav a:active {
    text-decoration: underline;
    text-underline-offset: 1.6rem;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--limegreen);
    
} */

nav a {
    position: relative;
}

nav a:hover::after {
  content: "";
  position: absolute;
  bottom: -50%;
  width: 100%;
  left: 0;
  height: 5px;
  background: linear-gradient(to right, var(--limegreen), var(--brightcyan))
}

.toggle {
    display: none;
}

.nav-items a {
    cursor: pointer;
}



.hero-img {
    max-width: 100%;
}

.hero-info {
    margin-top: -8rem;
}

div.hero-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1.5rem;
    align-items: center;
}

h1.heading {
    color: var(--darkblue);
    font-weight: 300;
    text-align: center;
    font-size: 3ch;
    line-height: 1.1;
}


a.invite-link {
   background-image: linear-gradient(to right, var(--limegreen), var(--brightcyan));
    padding: .8em 1.6em;
    border-radius: 5rem;
    color: var(--white);
    font-size: .8rem;
    margin-top: .6rem;
}



/* section two */

section.s2 {
    display: flex;
    flex-direction: column;
    padding: 6rem 1.5rem;
    background-color: var(--lgblue);
    gap: 4rem;
    align-items: center;
}

div.top-s2 {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    align-items: center;
}

div.bottom-s2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

div.easy-ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

.s2 img {
    width: 80px;
}

section.s3 {
    display: flex;
    flex-direction: column;
    padding: 5rem 1.5rem;
    gap: 2rem;
    background-color: var(--vlgray);
}

.s3 img {
    max-width: 100%;
    flex: 1;
}

div.articles {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

article.news {
    display: flex;
    flex-direction: column;
}

div.description {
    padding: 2rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

div.img-div {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
    border-radius: 5px 5px 0 0;
}

div.currency {
    background-image: url('../assets/image-currency.jpg');
}
div.restaurant {
    background-image: url('../assets/image-restaurant.jpg');
}
div.plane {
    background-image: url('../assets/image-plane.jpg');
}
div.confetti {
    background-image: url('../assets/image-confetti.jpg');
}

/* Footer */

footer.footer {
    background-color: var(--darkblue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 3rem 6rem;
}

img.logo {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(147deg) brightness(105%) contrast(105%);
    max-width: 140px
}

div.social-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

div.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-links a {
    color: var(--vlgray);
    font-size: 1rem;
    font-weight: 300;
}

.footer-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}

.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.top-links, .bottom-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

div.footer-links-container {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

/* Mobile Responsiveness */

nav.d-nav, a.d-invite-link {
    display: none;
}

/* Table styles */
/* @media (min-width: 768px)
{
    section.s2 {
        align-items: flex-start;
        padding-inline: 3rem;
    }

    div.top-s2 {
        align-items: flex-start;
        width: 500px;
    }
    
    div.bottom-s2 {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

    }

    div.easy-ad {
        align-items: flex-start;
        gap: 1.5rem;
        width: 300px
    }

    section.s3 {
        padding-inline: 6rem;
    }
    h1.heading {
        text-align: left;
    }

    div.articles {
        flex-direction: row;
    }
} */

@media (min-width: 999px) {

    /* header responsive design */

    header.header {
        padding-inline: 6rem;
    }

    nav a:hover::after {
        bottom: -120%;
    }
    nav.d-nav, a.d-invite-link {
        display: flex;
        margin: 0;
    }

    nav.d-nav {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        color: var(--grayishblue)
    }

    img#ham {
        display: none;
    }

    /* section one responsive design */

    section.s1 {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        padding: 0 0 0 4rem;
    }

    div.hero {
        background-image: url('../assets/bg-intro-desktop.svg');
        background-position: top left;
       
    }

    img.hero-img {
        position: relative;
        right: -20%;
        top: 50px
    }

    h1.d-heading {
        font-size: 5ch;
        text-align: left;
        margin-top: -5rem;
    }

    div.hero-info {
        align-items: flex-start;
        width: 600px;
        margin-top: -15rem;
    }

    /* section two responsive design */

    section.s2 {
        margin-top: -15rem;
        align-items: flex-start;
        padding-inline: 6rem;
    }

    div.top-s2 {
        align-items: flex-start;
        width: 500px;
    }
    
    div.bottom-s2 {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

    }

    div.easy-ad {
        align-items: flex-start;
        gap: 1.5rem;
        width: 300px
    }

    /* section three responsive design */
    section.s3 {
        padding-inline: 6rem;
    }
    h1.heading {
        text-align: left;
    }

    div.articles {
        flex-direction: row;
    }

     /* footer responsive design */
     footer.footer {
        flex-direction: row;
        justify-content: space-between;
     }

     div.footer-links {
        flex-direction: row;
        align-items: flex-start;
        gap: 8rem;
     }

     div.footer-logo {
        gap: 3rem;
     }

     div.footer-links-container  {
        flex-direction: row;
        align-items: center;
        gap: 8rem;
     }

     .top-links, .bottom-links {
        align-items: flex-start;
    } 
  }


/* End of responsive design */

.description h3 {
   cursor: pointer;
}

.description h3:hover {
   color: var(--limegreen);
}

a.invite-link:hover {
    opacity: .7;
}

.social-links img:hover {
    filter: brightness(0) saturate(100%) invert(56%) sepia(66%) saturate(502%) hue-rotate(105deg) brightness(100%) contrast(81%);
}

.footer-links a:hover {
    color: var(--limegreen);
}

.attribution { 
    font-size: 14px; 
    text-align: center;
    padding: 1rem;
 }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

