/* General styles */

:root {
    --darkblue: hsl(233, 26%, 24%);
    --limegreen: hsl(136, 65%, 51%);
    --brightcyan: hsl(192, 70%, 51%);
    --grayishblue: hsl(233, 8%, 62%);
    --lgblue: hsl(220, 16%, 96%);
    --vlgray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.125rem;
    font-family: "Public Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    color: var(--grayishblue);
    font-size: .7rem;
}

p {
    color: var(--grayishblue);
    font-size: .8rem;
    line-height: 1.5;
    text-align: justify;
}

h3 {
    color: var(--darkblue);
    font-weight: 300;
    font-size: 1.2rem;

}

/* content styles */

/* section one */

header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background-color: #FFF;
}

.header img {
    cursor: pointer;
}

section.s1 {
    padding-bottom: 4rem;
}

div.hero {
    background-image: url(../assets/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: -140px;
    z-index: -1;
    

}

.hero-img {
    max-width: 100%;
}

.hero-info {
    margin-top: -8rem;
}

div.hero-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1.5rem;
    align-items: center;
}

h1.heading {
    color: var(--darkblue);
    font-weight: 300;
    text-align: center;
    font-size: 3ch;
    line-height: 1.1;
}


a.invite-link {
   background-image: linear-gradient(to right, var(--limegreen), var(--brightcyan));
    padding: .7em 1.5em;
    border-radius: 5rem;
    color: var(--white);
    font-size: .8rem;
    margin-top: .6rem;
}

/* section two */

section.s2 {
    display: flex;
    flex-direction: column;
    padding: 4rem 1.5rem;
    background-color: var(--vlgray);
    gap: 3rem;
    align-items: center;
}

div.top-s2 {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    align-items: center;
}

div.bottom-s2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

div.easy-ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

.s2 img {
    width: 80px;
}

section.s3 {
    display: flex;
    flex-direction: column;
    padding: 5rem 1.5rem;
    gap: 2rem;
    background-color: var(--vlgray);
}

.s3 img {
    max-width: 100%;
}

div.articles {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

div.description {
    padding: 2rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
